# Base de datos
POSTGRES_PASSWORD=TuPasswordSuperSeguro123!
N8N_DB_PASSWORD=TuPasswordSuperSeguro123!

# Autenticación básica de n8n
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=TuPasswordAdmin456!

# Configuración
N8N_HOST=n8n.julian-mbp.pro
LETSENCRYPT_EMAIL=tu-email@ejemplo.com
